{% extends "../layouts/default.twig" %}

{% block layout %}

    <div class="pageContent">
        <lucidApp>
    </div>
    <div class="sidebar">
        <p>I am a sidebar!</p>
    </div>

{% endblock %}