<html>
    <head>

        {# Entry point for our apps head content - seo etc #}
        <willpressHead>
        <willpressSeo>
    </head>
    <body>
        {% block layout %}
        
        {% endblock %}
    </body>

    {# Entry point for footer content - scripts etc #}
    <willpressFooter>

</html>