<html>
    <head>

        {# Entry point for our apps head content - seo etc #}
        <lucidHead>
        <lucidSeo>
    </head>
    <body>
        {% block layout %}
        
        {% endblock %}
    </body>

    {# Entry point for footer content - scripts etc #}
    <lucidFooter>

</html>